<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="users" method="post">
        <label for="username">username</label>
        <input type="text" name="username" id="">
        <label for="password">password</label>
        <input type="password" name="password" id="">
        <input type="submit" value="abcs">
    </form>
  </body>
</html>